<a href="https://colab.research.google.com/github/bhatiatanish225/AI-Lab-Assignment-/blob/main/Lab_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab Assignment -1**

**Ques-1**

In [ ]:
L1=[1,2,3,4]
L2=['tanish','bhatia','tan','tanss']
dictonary=dict(zip(L1,L2))
dictonary

{1: 'tanish', 2: 'bhatia', 3: 'tan', 4: 'tanss'}

**Ques-2**

In [ ]:
N1=input("Enter First Number : ")
N2=input("Enter Second Number : ")
if(N1==N2):
  print("Both Numbers are equal")
elif(N1>N2):
  print("First Number(N1) is Greater than Second(N2)")
else:
  print("First Number(N1) is Lesser than Second(N2)")

Enter First Number : 25
Enter Second Number : 65
First Number(N1) is Lesser than Second(N2)

**Ques-3**

In [ ]:
L=[1,2,3,'tanish','bhatia',8.65,True,{1:'tan',2:'tanss'},[1,2]]

for i in L:
  print(i, 'data type is : ',type(i))

1 data type is :  <class 'int'>
2 data type is :  <class 'int'>
3 data type is :  <class 'int'>
tanish data type is :  <class 'str'>
bhatia data type is :  <class 'str'>
8.65 data type is :  <class 'float'>
True data type is :  <class 'bool'>
{1: 'tan', 2: 'tanss'} data type is :  <class 'dict'>
[1, 2] data type is :  <class 'list'>

**Ques-4**

In [ ]:
A=int(input("Enter A : "))
B=int(input("Enter B : "))
X=A
count=0
if(X%B==0):
  while(X%B==0):
    count=count+1;
    X=X/B
  print(f"{A} is Dividible by {B} , {count} times")
else:

  print(f"{A} is not Dividible by {B} ")

Enter A : 8
Enter B : 6
8 is not Dividible by 6

**Ques-5**

In [ ]:
import random as rn
List_int=[]
n=25
for i in range(25):
  List_int.append(rn.randint(0,100))
print(List_int)

for x in List_int:
  if(x%3==0):
    print(f"{x} is Divisible by 3")
  else:
    print(f"{x} is not Divisible by 3")

[41, 35, 18, 92, 36, 5, 40, 27, 79, 58, 54, 49, 80, 15, 53, 34, 71, 28, 53, 78, 9, 40, 95, 85, 100]
41 is not Divisible by 3
35 is not Divisible by 3
18 is Divisible by 3
92 is not Divisible by 3
36 is Divisible by 3
5 is not Divisible by 3
40 is not Divisible by 3
27 is Divisible by 3
79 is not Divisible by 3
58 is not Divisible by 3
54 is Divisible by 3
49 is not Divisible by 3
80 is not Divisible by 3
15 is Divisible by 3
53 is not Divisible by 3
34 is not Divisible by 3
71 is not Divisible by 3
28 is not Divisible by 3
53 is not Divisible by 3
78 is Divisible by 3
9 is Divisible by 3
40 is not Divisible by 3
95 is not Divisible by 3
85 is not Divisible by 3
100 is not Divisible by 3

**Ques-6**

In [ ]:
list=[1,2,3,4,5]
sub_list=slice(1,3,1)
print(list[sub_list])

[2, 3]

**Ques-7**

In [ ]:
Q="Hello, World!"
a=slice(7,12)
print(Q[a])

World

**Ques-8**

In [ ]:
A1=int(input("enter first number : "))
A2=int(input("enter second number : "))
sum=A1+A2
product=A1*A2

if(product<1000):
  print(f"Product is: {product}")
else:
  print(f"Sum is : {sum}")

enter first number : 25
enter second number : 65
Sum is : 90

**Ques-9**

In [ ]:
s=input("enter the string : ")
for x in s[0::2]:
  print(x)

enter the string : tanish
t
n
s

**Ques-10**

In [ ]:
p=[1,2,3,4,23,24,70,64,45,341,451,35,353,67,8,2,2,2,2,2,8,8,70,70]

for i in p:
  if(i%2==0):
    print(f"{i} and count of this number is: {p.count(i)} ")

2 and count of this number is: 6
4 and count of this number is: 1
24 and count of this number is: 1
70 and count of this number is: 3
64 and count of this number is: 1
8 and count of this number is: 3
2 and count of this number is: 6
2 and count of this number is: 6
2 and count of this number is: 6
2 and count of this number is: 6
2 and count of this number is: 6
8 and count of this number is: 3
8 and count of this number is: 3
70 and count of this number is: 3
70 and count of this number is: 3

**Ques-11**

In [ ]:
numbers=[5,3,8,-1,-2.2,0]
min=numbers[0]

for i in numbers:
  if(i<min):
    min=i
print(f"Min. number is : {min}")

Min. number is : -2.2

**Ques-12**

In [ ]:
string_list=['tanss','bhatia','tanish','tanisha','tannnn']
for i in string_list:
  if(i=='tanish'):
    print("It is present in the list")

It is present in the list

**Ques-13**

In [ ]:
s=input("enter password : ")
while(s!='Secret'):
  print("Password is InCorrect")
  s=input("enter password : ")
print("Password is Correct")

enter password : sec
Password is InCorrect
enter password : as
Password is InCorrect
enter password : Secret
Password is Correct

**Ques-14**

In [ ]:
t=[1,2,3,4,5,6,7,8,9,10]

for i in t:
  if(t==5):
    break
  else:
    print(i)

for i in t:
  if(t==8):
    continue
  else:
    print(i)

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

**Ques-15**

In [ ]:
numbers = []
while True:
  user_input = input("Enter a number (or -1 to quit): ")
  number = int(user_input)

  if number == -1:
    break
  numbers.append(number)
  if numbers:
        average = sum(numbers) / len(numbers)
        print(f"The average of the entered numbers is: {average:.2f}")
  else:
        print("No numbers were entered.")

Enter a number (or -1 to quit): 54
The average of the entered numbers is: 54.00
Enter a number (or -1 to quit): 65
The average of the entered numbers is: 59.50
Enter a number (or -1 to quit): -1

**Ques-16**

In [ ]:
def get_factor(n):
  l=[]

  for i in range(1,n,1):
    if(int(n)%i==0):
      l.append(i)
  print(l)

get_factor(10)

[1, 2, 5]

**Ques-17**

In [ ]:
def unique_list(numbers):


    unique_numbers = set(numbers)
    print(unique_numbers)
numbers=[1,1,12,2,2,2,5,4]
unique_list(numbers)

{1, 2, 4, 5, 12}

**Ques-18**

In [ ]:
del sum

In [ ]:
students = {
    101: {"name": "tans", "grades": [85, 90, 78, 92, 88], "attendance": [20, 19, 21, 20, 22]},
    102: {"name": "tanish", "grades": [80, 85, 88, 90, 86], "attendance": [22, 21, 22, 20, 19]},
    103: {"name": "me", "grades": [75, 80, 70, 85, 80], "attendance": [18, 20, 21, 22, 20]},
}


average_marks = {}

for roll_no, details in students.items():
    grades = details["grades"]
    average = sum(grades) / len(grades)
    average_marks[roll_no] = average

for roll_no, avg in average_marks.items():
    print(f"Roll No {roll_no} ({students[roll_no]['name']}): Average Marks = {avg:.2f}")

Roll No 101 (tans): Average Marks = 86.60
Roll No 102 (tanish): Average Marks = 85.80
Roll No 103 (me): Average Marks = 78.00